# fill this variables with dummy data, do not use real credentials in this file, this is just an example

DRIVER_NETSUITE=YOUR_DRIVER_CLASS_NAME
URL_NETSUITE=YOUR_JDBC_URL
USER_NETSUITE=YOUR_NETSUITE_USER
PWD_NETSUITE='YOUR_NETSUITE_PASSWORD'
PGHOST='YOUR_POSTGRES_HOST'
PGHOST_DEV='YOUR_POSTGRES_HOST_DEV'
PGPORT=5432
PGDATABASE='YOUR_POSTGRES_DATABASE'
PGUSER='YOUR_POSTGRES_USER'
PGPASSWORD='YOUR_POSTGRES_PASSWORD'

BASE_URL=YOUR_BASE_URL
JWT_SIGNING_KEY=YOUR_JWT_SIGNING_KEY
STORAGE_ENCRYPTION_KEY=YOUR_STORAGE_ENCRYPTION_KEY

# Azure Autentication
AZURE_CLIENT_ID=YOUR_AZURE_CLIENT_ID
AZURE_TENANT_ID=YOUR_AZURE_TENANT_ID
AZURE_CLIENT_SECRET=YOUR_AZURE_CLIENT_SECRET

# Azure Cache for Redis
AZURE_REDIS_URL="YOUR_AZURE_REDIS_URL"

# Autg0 credentials
AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
AUTH0_CLIENT_SECRET=YOUR_AUTH0_CLIENT_SECRET
AUTH0_AUDIENCE=YOUR_AUTH0_AUDIENCE
AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN

# Upstash redis
REDIS_URL="YOUR_REDIS_URL"